@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f2f2f2;
  color: white;
  font-family: 'Lato', system-ui, sans-serif;
}

.text-shadow {
  text-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
}
